<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/searchPage.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>My Homes Matchmaker</title>
  </head>
  <body>
    <a href="new">New</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="search">Search</a>
    <table id="myTable">

          <% allHouses.forEach(function(house) { %>
          <td class="col-md-3">
    <div class="listing">

  <div><strong><%= house.address %></strong>  &nbsp;&nbsp;&nbsp;<a href="<%= house._id %>/edit">Edit</a></div><br>
  

 <div id="newlyListed"><div id="button"><button id="new" disabled="true">MLS Listed</button>
  <button id="new2" disabled="true">Status</button><button id="new2" disabled="true">New!</button></div> 
  <div id="picture"><a href="<%= house._id %>/show2"><img id="houseImage" src="/images/house.jpg"></a></div>
  <br>
  <table>
       <tr>
        <button>Prev</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>Next</button>
        
      </tr>
  </table>
  <table>
      <div><%= house.price %></div>
      <div><% house.bedrooms %> Bed, <%= house.bathrooms %> Bath, <%= house.squareFeet %> Sq.Ft.</div>
      <div>Neighborhood: <%= house.subdivision %></div>
      <div>[listing brokerage placeholder]</div><br>
      <% if (house.pool === 'yes') { %>
    <button id="none" disabled="true"><img src="images/icon-swimming.png" height="20px" width="20px"> Pool</button><% } %><% if (house.masterMain === 'yes') { %><button id="none" disabled="true"><img src="images/master-main-icon.ico" height="20px" width="20px"> Master on Main</button><% } %>
      <br><% if (house.greenbelt === 'yes') { %><button id="none" disabled="true"><img src="images/trees-icon.png" height="20px" width="20px"> Greenbelt</button><% } %><% if (house.golfCommunity === 'yes') { %><button id="none" disabled="true"><img src="images/golf-icon2.png" height="20px" width="20px"> Golf Community</button><% } %><% if (house.study === 'yes') { %><button id="none" disabled="true"><img src="images/study-icon.png" height="20px" width="20px"> Separate Study</button><% } %><% if (house.mediaRoom === 'yes') { %><button id="none" disabled="true"><img src="images/media-room-icon.png" height="20px" width="20px"> Media Room</button><% } %>
      <br><% if (house.fireplace === 'yes') { %><button id="none" disabled="true"><img src="images/fireplace-icon.png" height="20px" width="20px"> Fireplace</button><% } %><% if (house.communityPool === 'yes') { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Community Pool</button><% } %><% if (house.waterfront === 'yes') { %><button id="none" disabled="true"><img src="images/waterfront-icon.png" height="20px" width="20px"> Waterfront</button><% } %></div> 
  </table>
  <div><button id="separateStudy"><img src="images/favorite-icon.png" height="20px" width="20px"> Add Favorite</button></div>
<br>
<br>
</div></td>
<% }) %>
</table>
    <script src='/javascripts/javascript.js'></script> 
  </body>
</html>
