<!DOCTYPE html>
<html>
  <head>
    <title>This House</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <a href="/">HOME</a>
  <body>
     <h2>Basics</h2>
        <p>Address: <%= theHouse.address %></p>
        <p>Price: <%= theHouse.price %></p>
        <p>City: <%= theHouse.city %></p>
        <p>Subdivision: <%= theHouse.subdivision %></p>
        <p>SqFt: <%= theHouse.squareFeet %></p
        <p>Bedrooms: <%= theHouse.bedrooms %></p>
        <p>Baths: <%= theHouse.bathrooms %></p>
        <p>Year Built: <%= theHouse.yearBuilt %></p>
        <p>Garages: <%= theHouse.garages %></p>
        <p>Stories: <%= theHouse.stories %></p>
        <p>Lot Size: <%= theHouse.lotSize %></p>

    <h2>Amenities</h2>
        <p>Pool: <%= theHouse.pool %></p>
        <p>Master on Main: <%= theHouse.masterMain %></p>
        <p>Fireplace: <%= theHouse.fireplace %></p>
        <p>Sprinkler: <%= theHouse.sprinkler %></p>

        <p>Waterfront: <%= theHouse.waterfront %></p>
        <p>Greenbelt: <%= theHouse.greenbelt %></p>
        <p>Media Room: <%= theHouse.mediaRoom %></p>
        <p>Separate Study: <%= theHouse.study %></p>








  </body>