  <!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/searchPage.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Buy a Home, Sell a Home</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SITE NAME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Search<span class="sr-only">(current)</span></a></li>
        <li><a href="new">Sell My Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:5122709688">Phone Number</a></li>
        <li><a href="login">Login/Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
    <div id="phoneFloatSearchPage">
<div id="container">
          <% allHouses.forEach(function(house) { %>
          <div class="col-lg-3 col-md-4 col-sm-6 well">
      <!-- <a href="<%= house._id %>/edit">Edit</a><form action="<%= house._id %>/delete" method="post"><button type="submit">Delete</button></form> -->
      <div class="statusButtons"><!-- <button id="new" disabled="true">MLS Listed</button> --><button id="new" disabled="true">Active</button><% if ((new Date() - house.DOM) / 86400000 <= 1.99) { %><button id="new2" disabled="true">New!</button> <% } %></div>
      <div class="listingImage"><a href="<%= house._id %>/show2"><img class="image" src="/images/house.jpg" height="200px" width="250px"></a></div>
      <div class="prevNextFav"><button>Prev</button><button>Next</button><button><img src="images/favorite-icon.png" height="15px" width="15px"> Favorite</button></div>  
      <div class="listingBasics" class="text-center"><div><strong><span class="price"><%= house.price %></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= ((new Date() - house.DOM) / 86400000).toFixed(2) %> Days on Market</div>
      <div><%= house.bedrooms %> Bed, <%= house.bathrooms %> Bath, <%= house.squareFeet %> Sq.Ft.</div>
      <div><%= house.address %> in <%= house.city %>, TX</div>
      <div>Neighborhood: <strong><%= house.subdivision %></strong></div>
      <div>[brokerage placeholder]</div><br>
     </div>
      <div class="amenities"><% if (house.pool === 'yes') { %>
     <button id="none" disabled="true"><img src="images/icon-swimming.png" height="20px" width="20px"> Pool</button><% } else { %> %><% } %><% if (house.masterMain === 'yes') { %><button id="none" disabled="true"><img src="images/master-main-icon.ico" height="20px" width="20px"> Master on Main</button><% } else { %> %><% } %>
      <br><% if (house.greenbelt === 'yes') { %><button id="none" disabled="true"><img src="images/trees-icon.png" height="20px" width="20px"> Greenbelt</button><% } else { %> %><% } %><% if (house.golfCommunity === 'yes') { %><button id="none" disabled="true"><img src="images/golf-icon2.png" height="20px" width="20px"> Golf Community</button><% } else { %> %><% } %><% if (house.study === 'yes') { %><button id="none" disabled="true"><img src="images/study-icon.png" height="20px" width="20px"> Separate Study</button><% } else { %> %><% } %><% if (house.mediaRoom === 'yes') { %><button id="none" disabled="true"><img src="images/media-room-icon.png" height="20px" width="20px"> Media Room</button><% } else { %><% } %><% if (house.fireplace === 'yes') { %><button id="none" disabled="true"><img src="images/fireplace-icon.png" height="20px" width="20px"> Fireplace</button><% } else { %> %><% } %><% if (house.communityPool === 'yes') { %><button id="none" disabled="true"><img src="images/swimming.png" height="20px" width="20px"> Community Pool</button><% } else { %> %><% } %><% if (house.waterfront === 'yes') { %><button id="none" disabled="true"><img src="images/waterfront-icon.png" height="20px" width="20px"> Waterfront</button><% } else { %> %><% } %><% if (house.lake === 'yes') { %><button id="none" disabled="true"><img src="images/waterfront-icon.png" height="20px" width="20px"> Community Lake</button><% } else { %> %><% } %></div>
      <div><a href="<%= house._id %>/edit">Edit</a><form action="<%= house._id %>/delete" method="post"><button type="submit">Delete</button></form></div>
</div>
<% }) %>
</div>
</div>


 <script src='/javascripts/javascript.js'></script> 
  </body>
</html>
